.main{
	max-width: 1440px;
	width: 100%;
	display: flex;
	display: flex;
	flex-wrap: wrap;
	// display: flex;
	// flex-wrap: wrap;
	// list-style: none;
	// display: grid;
	// grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	// grid-gap: 20px;
	// align-items: stretch;
	margin: 0;
	padding: 0;
	margin: 50px auto;
	gap: 20px;
	border: 1px solid black;
}

